* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Italic-VariableFont_wdth\wght.ttf);
  src: url(fonts/OpenSans-VariableFont_wdth\wght.ttf);
}
:root {
  font-family: "Open Sans", sans-serif;
}
header h1 {
  text-align: center;
  max-width: 1200px;
  margin: 50px auto;
}
main .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}
main input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 40px;
  background-color: #eee;
}
#product-name {
  width: 100%;
}
.product-price-controllers {
  display: grid;
  margin: 20px 0px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
}
.product-specifications {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  gap: 10px;
  margin-bottom: 30px;
}
.container hr{
  margin: 20px 0;
}
.search-options {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin: 20px 0;
}
#delete-product,
#create-product {
  width: 100%;
  height: 40px;
}
button {
  background-color: #192a51;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
table {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
table thead tr td {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}
table tbody tr td {
  padding: 3px 0;
}

.update,
.delete {
  padding: 5px 10px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: none;
}

.popup-container .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding:  50px;
}
.popup-container .popup input {
  height: 40px;
  margin: 30px 0;
  padding: 0 5px;
  font-size: 16px;

}
.popup-container .popup button{
  height: 40px;
  cursor: pointer;
}
.popup-container .popup .close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  cursor: pointer;
  display: grid;
  place-items: center;
}